.sticky {
  max-width: 15em;
  word-wrap: break-word;
  cursor: pointer;
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: lightsalmon;
  border: 1px solid #ccffff;
  border-color: black;
  font-size: small;
  margin: 10px;
}

.stickycss {
  padding: 20px
}
